                body {
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    font-family: 'Roboto', sans-serif;
                }
                
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p {
                    padding: 0;
                    margin: 0;
                }
                
                .header {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    height: 765px;
                    padding: 55px 0;
                    background-image: url(../images/header.jpg);
                    background-position: center;
                    background-size: cover;
                    box-sizing: border-box;
                }
                
                .header-text {
                    color: white;
                    margin border: 3px solid #ffffff;
                    padding: 140px 365px 70px 195px;
                    margin-right: 237px;
                    border: 2px solid #ffffff;
                }
                
                .header-title {
                    width: 531px;
                    font-family: "Roboto Slab";
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 55px;
                    letter-spacing: 2.4px;
                    padding-bottom: 50px;
                }
                
                .header-button {
                    color: white;
                    font-family: Roboto;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 40px;
                    /* Text style for "Примеры ра" */
                    letter-spacing: 0.95px;
                    text-decoration: none;
                    border: 2px solid #ffffff;
                    border-radius: 20px;
                    padding: 18px 33px;
                    margin-right: 30px;
                }
                
                .header-description {
                    width: 465px;
                    font-family: Roboto;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 40px;
                    letter-spacing: 1.2px;
                    padding-bottom: 40px;
                }
                
                .header-button:hover {
                    background-color: white;
                    color: #005388;
                }
                
                .block-title {
                    font-family: "Roboto Slab";
                    font-size: 45px;
                    font-weight: 700;
                    letter-spacing: 2.25px;
                    padding-bottom: 70px;
                }
                
                .works {
                    display: flex;
                    justify-content: center;
                    padding: 115px;
                }
                
                .work-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 323px;
                }
                
                .work-description {
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0.9px;
                    min-height: 56px;
                }
                
                .work-link {
                    color: #225485;
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 40px;
                    letter-spacing: 0.9px;
                }
                
                .works-items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                
                .works-item {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    background-color: #fcfbfb;
                    width: 100%;
                    max-width: 576px;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                }
                
                .work-text {
                    padding: 40px 18px 30px 18px;
                }
                
                .wrapper {
                    width: 100%;
                    max-width: 1250px;
                }
                
                .action {
                    background-color: #4c4c4c;
                    color: white;
                    display: flex;
                    justify-content: center;
                    padding: 70px 0 90px 0;
                }
                
                .action-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .action-description {
                    width: 505px;
                    color: #ffffff;
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 27px;
                    letter-spacing: 0.9px;
                }
                
                .action-form {
                    background-color: #ffffff;
                    border-radius: 40px;
                    padding-left: 35px;
                }
                
                .action-input {
                    border: none;
                    color: #225485;
                    font-family: "Roboto";
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 40px;
                    letter-spacing: 1.2px;
                    padding-right: 10px;
                }
                
                .action-input:focus {
                    outline: none;
                }
                
                .action-submit {
                    color: #ffffff;
                    font-family: "Roboto";
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 30px;
                    letter-spacing: 0.95px;
                    background-color: #7dcd3e;
                    border: none;
                    border-radius: 50px;
                    padding: 15px 45px 18px 45px;
                    cursor: pointer;
                    margin-right: -1px;
                }
                
                .action-submit:focus {
                    outline: none;
                }
                
                .info {
                    display: flex;
                    justify-content: center;
                    padding: 175px 0 130px 0;
                }
                
                .info-text {
                    padding-left: 200px;
                }
                
                .info-description {
                    width: 338px;
                    color: #000000;
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 28px;
                    letter-spacing: 0.9px;
                    padding-bottom: 50px;
                }
                
                .info-container {
                    display: flex;
                    justify-content: flex-start;
                    padding: 17px 0 13px 0;
                }
                
                .contact-item {
                    display: flex;
                    justify-content: center;
                }
                
                .contact-value {
                    width: 200px;
                    color: #000000;
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 31px;
                    letter-spacing: 1.2px;
                }
                
                .contact-name {
                    width: 100px;
                    text-align: right;
                    padding-right: 29px;
                    color: #000000;
                    font-family: "Roboto";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 31px;
                    letter-spacing: 0.9px;
                }
                
                .contact-link {
                    color: #000000;
                    text-decoration: none;
                }
                
                .contact-link:hover {
                    text-decoration: underline;
                }
                
                .info-form {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding-top: 80px;
                }
                
                .info-input {
                    width: 100%;
                    max-width: 495px;
                    text-align: center;
                }
                
                .info-submit {
                    width: 100%;
                    max-width: 495px;
                    text-align: center;
                    background-color: #7dcd3e;
                    border: none;
                    border-radius: 30px;
                    padding: 14px 0;
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.95px;
                    margin-top: 35px;
                }
                
                .info-input {
                    color: #808080;
                    font-size: 18px;
                    font-weight: 400;
                    letter-spacing: 1.2px;
                    padding: 12px 0;
                    margin: 9px 0;
                    border-radius: 30px;
                    border: 2px solid #cdcdcd;
                }
                
                .info-img {
                    width: 76%;
                }
                
                .info-input-checkbox {
                    width: 25px;
                    height: 25px;
                    display: block;
                }
                
                .form-check {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 22px;
                }
                
                .form-description {
                    width: 350px;
                    color: #000000;
                    font-family: "Roboto";
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0.6px;
                }
                
                .form-link {
                    color: #225485;
                    text-decoration: none;
                }
                
                .footer {
                    display: flex;
                    justify-content: center;
                    padding: 58px 0 32px 0;
                    background-color: #005388;
                }
                
                .footer-text {
                    display: flex;
                    flex-direction: column;
                    color: #cccccc;
                    font-family: "Roboto";
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 36px;
                    letter-spacing: 0.6px;
                }
                
                .footer-link {
                    color: #cccccc;
                }
                /*Header*/
                
                @media screen and (max-width: 1700px) {
                    .header-text {
                        margin-right: 145px;
                    }
                }
                
                @media screen and (max-width: 1650px) {
                    .header-text {
                        margin-right: 115px;
                    }
                }
                
                @media screen and (max-width: 1490px) {
                    .header-text {
                        margin-right: 50px;
                    }
                }
                
                @media screen and (max-width: 1350px) {
                    .header {
                        justify-content: center;
                        background-position: right;
                    }
                    .header-text {
                        margin-right: 25px;
                    }
                }
                
                @media screen and (max-width: 1110px) {
                    .header {
                        height: auto;
                    }
                    .header-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 50px;
                        border: none;
                    }
                    .header-title,
                    .header-description {
                        text-align: center;
                        width: auto;
                    }
                    .header-button {
                        text-align: center;
                        margin-right: 0;
                        margin-bottom: 20px;
                        align-self: center;
                        width: 100%;
                        max-width: 200px;
                    }
                    /*General*/
                    .wrapper {
                        padding: 0 50px;
                    }
                    .block-title {
                        text-align: center;
                        padding-bottom: 50px;
                        font-size: 35px;
                    }
                    /*Works*/
                    .works {
                        padding: 50px;
                    }
                    .works-items {
                        justify-content: center;
                    }
                    .works-item {
                        margin-bottom: 50px 0;
                    }
                    .work-img img {
                        width: 100%;
                    }
                    /*Action*/
                    .action-container {
                        flex-direction: column;
                    }
                    .action-form {
                        padding: 0;
                        width: 300px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .action-submit {
                        margin: 20px 0;
                    }
                    .action-description {
                        width: auto;
                    }
                    .action-input {
                        padding: 0;
                        margin: 20px;
                        text-align: center;
                    }
                    /*info*/
                    .info-container {
                        flex-direction: column;
                        padding: 50px 0;
                    }
                    .info-experience {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .info-description {
                        width: auto;
                        text-align: center;
                    }
                    .info-img {
                        width: 50%;
                    }
                    .info-text {
                        padding: 50px 0 0 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .info-form {
                        padding-top: 50px;
                    }
                    .info-submit,
                    .info-input {
                        width: auto;
                    }
                    .info-submit {
                        padding: 20px;
                    }
                    .form-description {
                        font-size: 14px;
                        width: 200px;
                    }
                    .footer-text {
                        align-items: center;
                        font-size: 14px;
                    }
                }